/* ==UserStyle==
@name         Tenda Dark by Mew
@namespace    gitlab.com/vednoc/dark-tenda
@version      0.1.0
@description  Dark userstyle for older Tenda routers.
@author       vednoc
@homepageURL  https://gitlab.com/vednoc/dark-tenda
@supportURL   https://gitlab.com/vednoc/dark-tenda/issues
@license      MIT
@preprocessor stylus

@var color dark    "Dark color."    #2e2e2e
@var color darker  "Darker color."  #212121
@var color light   "Light color."   #d1d1d1
@var color lighter "Lighter color." #e9e9e9
@var color icon    "Icon color."    #e1e1e1
@var color accent  "Accent color."  #7289da
@var color yellow  "Yellow color."  #f0c674
@var color orange  "Orange color."  #de935f
@var color red     "Red color."     #a54242
@var color magenta "Magenta color." #b294bb
@var color violet  "Violet color."  #85678f
@var color blue    "Blue color."    #5f819d
@var color cyan    "Cyan color."    #5e8d87
@var color green   "Green color."   #8c9440
@var color shadow  "Shadow"         rgba(0,0,0,0.07)
==/UserStyle== */

@-moz-document domain("192.168.0.1")

  *, *::before, *::after
    box-sizing: border-box !important;

  // Reset.
  html
    overflow-y: auto !important
    background-color transparent !important
    body
      color light !important;
      background-color dark !important;
      input, [class*="btn"]
        min-height 24px
        color light !important
        border-color darker !important
        border-radius 4px
        background-image none
        background-color dark !important
        transition: 0.3s ease
        &:hover
          border-color accent !important
      legend, .legend
        width 100% !important
        color light
        border-color darker
      select, option
        border-radius 4px
        color light
        border-color darker !important
        background-color dark
      span, label, table *
        color light !important
      table
        border-color darker !important
        thead
          background-color dark !important
        th, td
          border-color darker !important
      hr
        border-top-color darker
      .text-red, .red
        color red

  // Footer.
  .page-footer
    display none
    background darker

  // Navbar.
  .navbar
    width 100%
    min-width: auto
    padding 0 10px !important
    margin-bottom 1rem
    color light
    border-bottom 1px solid darker
    background-image none !important
    background-color dark !important
    // Navbar content wrapper.
    .navbar-inner
      width 100%
      max-width 1140px
      min-height 30px
    // Remove brand image.
    .brand
      float none
      display flex
      width auto
      max-width 70px
      height 32px
      margin 10px auto 10px 0
      color light
      border 1px solid darker
      background none
      // Fake button.
      &::after
        transition 0.3s ease
        content "#####"
        padding 0 1rem
        font-size 14px
        font-weight 700
        font-family: "Iosevka", monospace
        height 30px
        line-height 30px
        color inherit
      &:hover
        color accent

  // Menu!
  #menu
    display flex
    justify-content center
    align-content center
  .nav
    padding 10px 0
    margin-top 0 !important
    display flex
    flex-flow row-reverse wrap
    // Navigation.
    > li
      float none
      margin 0 5px 5px 0
      border 1px solid darker
      > a
        display inline-flex
        height 30px
        line-height 30px
        font-weight 700
        color light
        transition 0.3s ease
        > .nav-left, > .nav-right
          // display none
          width 0
          background-image none
        > .nav-text
          padding 0
          height 30px
          transition 0.3s ease
          background none !important
    // On event.
    > li:hover a .nav-text,
    > li a.active span,
    > li.active a,
    > li:hover a
      color: accent !important

  // Login page.
  .login
    width 100%
    max-width: 480px
    overflow hidden
    border-radius 4px
    border-color darker
    background-color dark
    box-shadow 0 8px 16px 0 shadow
    // Header.
    .login-title
      height 50px
      line-height 50px
      padding 0 20px
      color lighter
      border-bottom 1px solid darker
      background dark
    // Body.
    .container
      width 60%
      // text-align center
    .control-label
      color light

  // Main settings.
  #main
    padding 0
    > .container
      width 100%
      max-width 1140px
      display flex
      > *
        float none
        width 100%
        min-height auto
        height 100%
        padding 0
        margin 0
        border-radius 0
        border 1px solid darker
        background-color dark
    #main_content
      display flex
      flex-direction column
      flex-direction column

  // Secondary nav-bar.
  #sub_menu
    min-height auto !important
    height auto !important
    margin: 0 0 20px 0 !important
    border none !important
    background none
    .nav-list
      padding 0 10px
      margin 3px 0
      display flex
      flex-flow row wrap
      justify-content center
      border-color transparent
      a
        padding 5px
        margin 0 5px 5px 0 !important
        transition: 0.3s ease
        border 1px solid darker !important
        color light
        &.active
          margin 0
          padding 5px
          color accent
          border-color transparent
          background none
        &:hover
          color accent

  // Settings.
  #container
    padding 0 0px !important
    margin 0 auto 20px !important
    width auto !important
    min-width 100%
    display flex
    .container-main
      float none
      padding 0 10px
      width 100%
      min-height auto
      border-right-color transparent
    #help
      float: none
      padding 0 10px
      width 30%
      height unset
      border-left 1px solid darker
      @media screen and (max-width: 700px)
        display none
      .help-title, em
        color accent
    // Fix iframe height.
    iframe
      min-height auto
